<p id="notice"><%= notice %></p>

<h1>Promotes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @promotes.each do |promote| %>
      <tr>
        <td><%= link_to 'Show', promote %></td>
        <td><%= link_to 'Edit', edit_promote_path(promote) %></td>
        <td><%= link_to 'Destroy', promote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Promote', new_promote_path %>

<h2>美女なび</h2>
<a href="http://hacklog.jp/works/51384" target="_blank">びじなび</a>
